
/*------------------------------------------------------------------------------------------------------*/
/* CSS Reset & Clearfix
/* 		- http://meyerweb.com/eric/tools/css/reset/
/*		- http://css-tricks.com/snippets/css/clear-fix/
/*------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; background: transparent } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block } html { -webkit-font-smoothing: antialiased } body { line-height: 1; -webkit-text-size-adjust: none } ol, ul { list-style: none } blockquote, q { quotes: none } blockquote: before, blockquote: after, q: before, q: after { content: ""; content: none } table { border-collapse: collapse; border-spacing: 0 } strong, b { font-weight: 600 } em, i { font-style: italic }

html
{
  margin: 0px;
  padding: 0px;
  border: 0;

  min-height: 100%;
  height: 100%;
}

body
{
  font: 13px "Open Sans", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #737373;

  min-height: 100%;
  height: 100%;

}

*
{
  margin: 0;
}

h1, h2, h3, h4, h5, h6
{
  color: #737373;
}

h1
{
  font-size: 300%;
  line-height: 1.3em;
}

h2
{
  font-weight: 100;
  font-size: 220%;
}

h3
{
  font-weight: normal;
  font-size: 140%;
}

h4
{
  font-weight: normal;
  font-size: 120%;
}

h5
{
  font-weight: normal;
  font-size: 110%;
}

h6
{
  font-weight: normal;
  font-size: 100%;
}

a
{
  color: #44497a;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}

a:hover
{
  color: #737373;
}

h5 a, h3 a
{
  color: #737373;
}

h5 a:hover, h3 a:hover
{
  color: #44497a;
}

p
{
  padding: 10px;
  color: #737373;
}

ul
{
  padding: 10px;
  color: #737373;
}

.flexslider h5
{
  font-weight: bold;
  font-size: 95%;
}

.flexslider h6
{
  font-weight: normal;
  font-size: 90%;
}

.container
{
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

#home h1, #home h2
{
  color: #44497a;
}

#wrapper
{
  background: #ffffff;
  min-height: 100%;
  height: 100%;
}

#main
{
  background: #ffffff;
  position: relative;
  width: 940px;
  margin: 0 auto;
  font-size: 110%;
}

#main h1
{
  font-weight: 100;
}

.fuzzy_shadow
{
  text-shadow: 0.1em 0.1em 0.2em #353535;
}

#pagetitle
{
  color: #8286b9;
  margin-bottom: 10px;
}


.person
{
  font-size:100%;
  overflow: hidden;
  line-height: 1.6em;
  margin: 10px;
}



/* Header */
header
{
  padding 0px;
  margin-bottom: 20px;
  border: 0px;
  display: block;
  font: inherit;
  vertical-align: text-top;
  width: 100%;
  overflow: hidden;
}



/* Footer */
footer
{
  text-align: left;
  font-size: 11px;
  color: #8f8f8f;
}

#mainfooter
{
  border-top: 1px solid #353535;
  background: #333333;
  width: 100%;
}

#masthead
{
  margin: 10px 10px 10px 10px;
  display: inline;
}

/* NAV */
nav
{
  float: right;
  overflow: hidden;
  margin: 0px 10px 5px 5px;
  font-size: 120%;
  font-weight: 600;
}

nav ul
{
  margin: 0;
  overflow: hidden;
}

nav li
{
  margin: 0;
  float: left;
  padding: 3px 5px;
  list-style: none;
  margin: 0 10px;

}

nav a
{
  padding: 4px;
  color: #737373;
  text-decoration: none;
}

nav li:hover
{
  color: #363b74;
}

nav li:hover a
{
  color: #363b74;
}

nav li.active a, nav li.active:hover a
{
  color: #737373;
  font-weight: 900;
}

#content
{
  padding 10px;
}

.row
{
  width: 100%;
  overflow: hidden;
  float: left;
  margin-top: 10px;
}

.column
{
  float: left;
  margin-left: 10px;
}

.row .onecol		{ width: 60px; }
.row .twocol		{ width: 140px; }
.row .threecol		{ width: 220px; }
.row .fourcol		{ width: 300px; }
.row .fivecol		{ width: 380px; }
.row .sixcol		{ width: 460px; }
.row .sevencol		{ width: 540px; }
.row .eightcol		{ width: 620px; }
.row .ninecol		{ width: 700px; }
.row .tencol		{ width: 780px; }
.row .elevencol		{ width: 860px; }
.row .twelvecol		{ width: 940px; }

.alignleft
{
  float: left;
  margin: 5px 25px 15px 0;
}

.imgholder
{
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
  line-height: 0.9;
  margin-bottom: 15px;
  max-width: 100%;
}

.imgholder img
{
  width: 100%;
  height: auto;
}

.imgholder > div
{
  position: relative;
  border: 4px solid #ffffff;
}

.job
{
  padding: 10px;
  background: #efefef;
  border: 1px solid #c8c8c8;
  margin-top: 5px;
  margin-bottom: 20px;
}

.job h3
{
  margin-bottom: 10px;
}





/* Buttons */

.button,
input[type="submit"] {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	color: rgba(0, 0, 0, 0.5);
	border: 1px solid #DEDEDE;
	background: #ffffff;
	background: -moz-linear-gradient(#ffffff, #efefef);
	background: -ms-linear-gradient(#ffffff, #efefef);
	background: -webkit-gradient(linear, left top, left bottom, #ffffff, #efefef);
	background: -webkit-linear-gradient(#ffffff, #efefef);
	background: -o-linear-gradient(#ffffff, #efefef);
	background: linear-gradient(#ffffff, #efefef);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	margin-bottom: 25px;
}

input[type="submit"] {
	padding: 8px 10px;
}

.button:hover,
input[type="submit"]:hover {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

.button.accent {
        width: 150px;
        text-align: center;
	padding: 11px 15px 12px 15px;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 1px 0 rgba(100, 100, 100, 0.75);
	background: #44497a;/*#de740e;*/
	border: none;
	-webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
}

.button.accent:hover {
	color: #FFFFFF;
}

.B_crumbBox, .B_crumb, .B_homeCrumb, .B_firstCrumb, .B_lastCrumb, .B_currentCrumb
{
  text-align: left;
  margin-top: 4px;
  margin-left: 2px;
  font-size: 95%;
  font-weight: normal;
  display: inline;
}

.B_crumbBox a
{
  color: #737373;
}

.B_crumbBox a:hover
{
  color: #44497a;
}

.B_currentCrumb
{
  color: #a0a0a0;
  font-size: 95%;
}


.B_crumb li,
.B_firstCrumb li,
.B_lastCrumb li,
.B_currentCrumb li,
{
  list-style: none;
  display: inline;
  margin: 0px 0em;
}

.tweetlist ul {
	list-style: none;
	margin-left: 0;
}

.tweetlist ul li {
	line-height: 1.5;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #E1E1E1;
}

.tweetlist span {
	display: block;
	padding-top: 4px;
	font-size: 85%;
	line-height: 1.5;
	color: #BBBBBB;
}

.tweetlist span a {
	color: #BBBBBB;
}

.tweetlist span a:hover {
	color: #777777;
}
