<!doctype html>
<html>
  <head>
    <title>OSRF - {{ page.title }}</title>
    <base href="{{ site.url }}" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic|Noticia+Text|Lato:400,700" />
    <link rel="stylesheet" type='text/css' href="/css/flexslider.css" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/twitter.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33968141-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        $('.flexslider').flexslider({
              animation: "fade",
              controlsContainer: ".flex-control-container"
        });
      });
    </script>

  </head>
  <body>
    <div id='wrapper'>
      <header>
        <div class='container'>

          <div style='overflow:hidden; width: 700px;'>
            <div style='float:left'>
              <a href="./"><img src="/images/osrf_masthead.png" alt='osrf_masthead'/></a>
            </div>
            <div style='line-height:122px; margin-left: -10px; font-size:260%; float:left'>
              <a id="masthead" href="./"><font style='color:#434343'>Open Source</font> <font style='color:#7f8284'>Robotics Foundation</font></a>
            </div>
          </div>

          <div>
            <nav>
              <ul>
              {% capture is_blog %}No{% endcapture %}
              {% for cat in page.categories %}
                {% if cat == 'blog' %}
                  {% capture is_blog %}Yes{% endcapture %}
                {% endif %}
              {% endfor %}
                <li class="first{% if page.url == '/about.html' %} active{% endif %}"><a href="/about.html" title="About" >About</a></li>
                <li {% if page.url == '/projects.html' %}class="active"{% endif %}><a href="/projects.html" title="Projects" >Projects</a></li>
                <li {% if page.url == '/involvement.html' %}class="active"{% endif %}><a href="/involvement.html" title="Get Involved" >Get Involved</a></li>
                <li><a href="/people/" title="People" >People</a></li>
                <li><a href="/press.html" title="Press" >Press</a></li>
                <li {% if is_blog == "Yes" %}class="active"{% endif %}><a href="/blog/" title="Blog Posts" >Blog</a></li>
                <li><a href="/jobs/" title="Jobs" >Jobs</a></li>
                <li><a href="/sponsors.html" title="Sponsors" >Sponsors</a></li>
                <li class="last"><a href="/consultants-network/" title="Consultants" >Consultants</a></li>
              </ul>
            </nav>
          </div>

        </div>
      </header>

      <div style='min-height:100%'>
        <div class='container'>
          {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
          {% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
          {% assign previous="" %}
          <ul class="B_crumbBox">
          {% if num_parts == "-1" %}

          {% else %}
            <li class="B_firstCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a class="B_homeCrumb" itemprop="url" href="/">Home</a>
            </li> /

            {% for unused in page.content limit:num_parts %}
              {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..." }}{% endcapture %}
              {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
              {% if first_word == 'blog' %}
                {% capture label %}Blog Posts{% endcapture %}
              {% elsif first_word contains '.html' %}
                {% capture label %}{{ page.title }}{% endcapture %}
              {% else %}
                {% capture label %}{{ first_word }}{% endcapture %}
              {% endif %}
              <li class="{% unless forloop.last %}B_crumb{% else %}B_currentCrumb{% endunless %}" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                {% unless forloop.last %}
                  <a class="B_crumb" itemprop="url" href="{{ previous }}">{{ label }}</a>
                {% else %}
                  {{ label }}
                {% endunless %}
              </li> {% unless forloop.last %}/{% endunless %}

              {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
            {% endfor %}

            {% for cat in page.categories %}
              {% if cat == 'blog' %}
               / <li itemscope="itemscope" class="B_currentCrumb" itemtype="http://data-vocabulary.org/Breadcrumb">{{ page.title }}</li>
              {% endif %}
            {% endfor %}
          {% endif %}
          </ul>
        </div>

        <div id='main'>
          <div class='container'>

<!-- End of Header Template -->
